<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1>Delete Collaborator</h1>
      <hr>
      <form action="/wikis/<%= wikiId %>/collaborators/destroy" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="collaboratorEmail" aria-describedby="emailHelp" placeholder="Enter Email">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
