<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1> Upgrade Account</h1>
      <hr>
      <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_3Lzta1YkQGcjfYesLieNnkjH00KndFunUv"
          data-amount="1500"
          data-name="Upgrade"
          data-description="Account upgrade to premium"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
